volumes:
  postgres-data:
    driver: local

services:

  certbot:
    container_name: "certbot"
    image: certbot/certbot:v2.7.4
    restart: unless-stopped
    deploy:
      resources:
          limits:
            cpus: "0.1"
            memory: "0.25"
          reservations:
            cpus: "0.1"
            memory: "100m"
    volumes:
      - ./certbot/www:/var/www/certbot/:rw
      - ./certbot/conf:/etc/letsencrypt/:rw
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - certbot

  reverse_proxy:
    container_name: "nginx"
    image: nginx:1.25.3-alpine-slim
    restart: unless-stopped
    deploy:
      resources:
          limits:
            cpus: "0.1"
            memory: "0.5"
          reservations:
            cpus: "0.25"
            memory: "200m"
    volumes:
      - ./site-content:/usr/share/nginx/html
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/www/:/var/www/certbot/:ro
      #*.abbaye11.ch certificates path
      - ./certbot/conf/:/etc/letsencrypt/:ro
    ports:
      - "80:80"
      - "443:443"
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      - certbot
      - abbaye11

networks:
  abbaye11:
    name: abbaye11
    external: true

  certbot:
    name: certbot